html,

body {
  height: 150%;

  margin-bottom: 150px;
  
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
  background-color: rgb(245, 104, 104)
  }

h3 {
  text-align: center
}


.dropdown-menu > li:hover{ background-color: #f1f1f1 }
.dropdown-menu > li:hover > .submenu{ display: block; }

.dropdown-item > li:hover{ background-color: #f1f1f1 }
.dropdown-item > li:hover > .submenu{ display: block; }