<!DOCTYPE html>
<html lang="en">
  
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- our CSS -->
    <link rel="stylesheet" href="../templates/static/css/style.css">

    <!--Activate JavaScript.JQuery Library-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    
    <title>Personal Predictors of Heart Disease</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Predictors of Heart Disease</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predictor" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Predictor Tool</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Visualisations</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/tableau-analysis-1">Tableau Analysis 1</a>
              <a class="dropdown-item" href="/tableau-analysis-2">Tableau Analysis 2</a>
            </div>
          </li>
          <li class = "nav-item dropdown">
            <a class="nav-link" href="https://github.com/weiwen1998/project-4" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">GitHub Repository</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="row">
      <div class="col-12">
        <div class="container heading">
          <h1>Predictors of Heart Disease</h1>
          <p>An Analysis on the impacts of heart disease on others, including a variety of different factors.</p>
          <hr>
        </div>
      </div>
    </div>
        
    <div class="row">
      <div class ="col-12">
        <div class = "centered-container">
          <img src = 'https://images.unsplash.com/photo-1628348070889-cb656235b4eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class = "col-md-12">
        <div class = "background-txt">
          <h3><strong>Background</strong></h3>
          <p>
            Heart disease is one of the common diseases that caused many deaths around the world, in which are varied between a variety of demographics.
            This project discusses how heart disease has been predicted based on a variety of different activities that people have engaged in, as well as a variety of different health factors.
          </p>
          <h3><strong>Project Purpose</strong></h3>
          <p>
            To build a machine-learning model that can predict heart disease risk using different health parameters.
          </p>
          <h3><strong>Methods</strong></h3>
          <p>
            For the machine-learning model, we used a dataset containing survey responses from over 300,000 people in the United States.
            Respondents were surveyed on various health parameters, including BMI, Age, Physical activity, General health, and various medical conditions.
            <br>
            This data can be freely accessed on <a href="https://www.kaggle.com/datasets/kamilpytlak/personal-key-indicators-of-heart-disease">Kaggle</a>.
            The Kaggle data is based on an original, larger dataset available on the <a href="https://www.cdc.gov/brfss/annual_data/annual_2020.html">Centers for Disease Control and Prevention (CDC) website</a>.
            <br>
            We reduced the dataset down to the following 8 parameters that we wished to use for our predictor tool:
            <ul>
              <li>Sex</li>
              <li>Age Category</li>
              <li>General Health</li>
              <li>Stroke</li>
              <li>Diabetes</li>
              <li>Kidney Disease</li>
              <li>Smoking habits</li>
              <li>Alcohol Drinking habits</li>
            </ul>
            Once the data was reduced and encoded, we created a random forest model and logistic regression model and compared the two for accuracy.
          </p>
          <h3><strong>Results</strong></h3>
          <p>
            After building a random forest model and logistic regression model, the logistic regression model was more accurate, with an overall predicting accuracy of 73% using the chosen 8 parameters.
            The logistic regression model was then saved and adapted into a web application using Flask. The app was then deployed to Heroku.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>

